@page "/centralVoted"
<div class="container">
    <h4>HÃY CHỌN RA 2 CON SỐ MÀ BẠN DỰ ĐOÁN CHẮC CHẮN SẼ CÓ TRONG PHIÊN QUAY SỐ XSMT NGÀY HÔM NAY (21/06/2022) :</h4>
    <div class="container_ball">

        <div class="ball_item" id="C00"><span>00</span></div>
        <div class="ball_item" id="C01"><span>01</span></div>
        <div class="ball_item" id="C02"><span>02</span></div>
        <div class="ball_item" id="C03"><span>03</span></div>
        <div class="ball_item" id="C04"><span>04</span></div>
        <div class="ball_item" id="C05"><span>05</span></div>
        <div class="ball_item" id="C06"><span>06</span></div>
        <div class="ball_item" id="C07"><span>07</span></div>
        <div class="ball_item" id="C08"><span>08</span></div>
        <div class="ball_item" id="C09"><span>09</span></div>

        <div class="ball_item" id="C10"><span>10</span></div>
        <div class="ball_item" id="C11"><span>11</span></div>
        <div class="ball_item" id="C12"><span>12</span></div>
        <div class="ball_item" id="C13"><span>13</span></div>
        <div class="ball_item" id="C14"><span>14</span></div>
        <div class="ball_item" id="C15"><span>15</span></div>
        <div class="ball_item" id="C16"><span>16</span></div>
        <div class="ball_item" id="C17"><span>17</span></div>
        <div class="ball_item" id="C18"><span>18</span></div>
        <div class="ball_item" id="C19"><span>19</span></div>

        <div class="ball_item" id="C20"><span>20</span></div>
        <div class="ball_item" id="C21"><span>21</span></div>
        <div class="ball_item" id="C22"><span>22</span></div>
        <div class="ball_item" id="C23"><span>23</span></div>
        <div class="ball_item" id="C24"><span>24</span></div>
        <div class="ball_item" id="C25"><span>25</span></div>
        <div class="ball_item" id="C26"><span>26</span></div>
        <div class="ball_item" id="C27"><span>27</span></div>
        <div class="ball_item" id="C28"><span>28</span></div>
        <div class="ball_item" id="C29"><span>29</span></div>

        <div class="ball_item" id="C30"><span>30</span></div>
        <div class="ball_item" id="C31"><span>31</span></div>
        <div class="ball_item" id="C32"><span>32</span></div>
        <div class="ball_item" id="C33"><span>33</span></div>
        <div class="ball_item" id="C34"><span>34</span></div>
        <div class="ball_item" id="C35"><span>35</span></div>
        <div class="ball_item" id="C36"><span>36</span></div>
        <div class="ball_item" id="C37"><span>37</span></div>
        <div class="ball_item" id="C38"><span>38</span></div>
        <div class="ball_item" id="C39"><span>39</span></div>

        <div class="ball_item" id="C40"><span>40</span></div>
        <div class="ball_item" id="C41"><span>41</span></div>
        <div class="ball_item" id="C42"><span>42</span></div>
        <div class="ball_item" id="C43"><span>43</span></div>
        <div class="ball_item" id="C44"><span>44</span></div>
        <div class="ball_item" id="C45"><span>45</span></div>
        <div class="ball_item" id="C46"><span>46</span></div>
        <div class="ball_item" id="C47"><span>47</span></div>
        <div class="ball_item" id="C48"><span>48</span></div>
        <div class="ball_item" id="C49"><span>49</span></div>

        <div class="ball_item" id="C50"><span>50</span></div>
        <div class="ball_item" id="C51"><span>51</span></div>
        <div class="ball_item" id="C52"><span>52</span></div>
        <div class="ball_item" id="C53"><span>53</span></div>
        <div class="ball_item" id="C54"><span>54</span></div>
        <div class="ball_item" id="C55"><span>55</span></div>
        <div class="ball_item" id="C56"><span>56</span></div>
        <div class="ball_item" id="C57"><span>57</span></div>
        <div class="ball_item" id="C58"><span>58</span></div>
        <div class="ball_item" id="C59"><span>59</span></div>

        <div class="ball_item" id="C60"><span>60</span></div>
        <div class="ball_item" id="C61"><span>61</span></div>
        <div class="ball_item" id="C62"><span>62</span></div>
        <div class="ball_item" id="C63"><span>63</span></div>
        <div class="ball_item" id="C64"><span>64</span></div>
        <div class="ball_item" id="C65"><span>65</span></div>
        <div class="ball_item" id="C66"><span>66</span></div>
        <div class="ball_item" id="C67"><span>67</span></div>
        <div class="ball_item" id="C68"><span>68</span></div>
        <div class="ball_item" id="C69"><span>69</span></div>

        <div class="ball_item" id="C70"><span>70</span></div>
        <div class="ball_item" id="C71"><span>71</span></div>
        <div class="ball_item" id="C72"><span>72</span></div>
        <div class="ball_item" id="C73"><span>73</span></div>
        <div class="ball_item" id="C74"><span>74</span></div>
        <div class="ball_item" id="C75"><span>75</span></div>
        <div class="ball_item" id="C76"><span>76</span></div>
        <div class="ball_item" id="C77"><span>77</span></div>
        <div class="ball_item" id="C78"><span>78</span></div>
        <div class="ball_item" id="C79"><span>79</span></div>

        <div class="ball_item" id="C80"><span>80</span></div>
        <div class="ball_item" id="C81"><span>81</span></div>
        <div class="ball_item" id="C82"><span>82</span></div>
        <div class="ball_item" id="C83"><span>83</span></div>
        <div class="ball_item" id="C84"><span>84</span></div>
        <div class="ball_item" id="C85"><span>85</span></div>
        <div class="ball_item" id="C86"><span>86</span></div>
        <div class="ball_item" id="C87"><span>87</span></div>
        <div class="ball_item" id="C88"><span>88</span></div>
        <div class="ball_item" id="C89"><span>89</span></div>

        <div class="ball_item" id="C90"><span>90</span></div>
        <div class="ball_item" id="C91"><span>91</span></div>
        <div class="ball_item" id="C92"><span>92</span></div>
        <div class="ball_item" id="C93"><span>93</span></div>
        <div class="ball_item" id="C94"><span>94</span></div>
        <div class="ball_item" id="C95"><span>95</span></div>
        <div class="ball_item" id="C96"><span>96</span></div>
        <div class="ball_item" id="C97"><span>97</span></div>
        <div class="ball_item" id="C98"><span>98</span></div>
        <div class="ball_item" id="C99"><span>99</span></div>
       
    </div>
    <h5>Những con số bạn vừa lựa chọn là: <span class="list_number">33, 66 , 88</span></h5>
    <input type="button" value="XEM KẾT QUẢ" class="btn_show_result"/>

    <span class="span_loading">
         <img class="ic_loading" src="/res/images/loading.gif"/>
         <label class="choose_date_title">Đang tải...</label>
    </span>

    <h4>KẾT QUẢ TỔNG SỐ NGƯỜI CÓ CÙNG DỰ ĐOÁN VỚI BẠN HÔM NAY:</h4>
    <div class="result_item">
         <div class="ball_item" id="CR33"><span>33</span></div>
         <span class="number_voted">120</span>
    </div>
     <div class="result_item">
         <div class="ball_item" id="CR66"><span>66</span></div>
         <span class="number_voted">90</span>
    </div>
     <div class="result_item">
         <div class="ball_item" id="CR88"><span>88</span></div>
         <span class="number_voted">150</span>
    </div>

     <p class="btn_con">Tiếp tục dự đoán</p>
    
</div>