@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar col-sm-3 col-md-2">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">

        </div>

        <article>
            @Body
        </article>
       
    </main>
     
</div>