@page "/football"

<div class="page-content"
 onload="">
    <div class="banner_football">
        <h2 class="banner-title">
           KẾT QUẢ CẬP NHẬT <br/> <code class="banner-subtitle"> @_dateTimeNow </code>
        </h2>
    </div>
    <iframe class="frame_football" src="https://www.xscores.com/soccer" frameborder="0" allowtransparency="true" allowfullscreen  scrolling="no"></iframe>
    <div class="hide_menu"></div>
</div>
