@page "/group"

<div class="container">
    <!-- Sidebar -->
    <aside class="container__sidebar">
        <div class="list-chat">
            <div class="chat-item">
                <div>
                    <label> XỔ SỐ</label>
                </div>
            </div>
            <div class="chat-item">
                <div>
                    <label> BÓNG ĐÁ</label>
                </div>
            </div>
        </div>
    </aside>

    <!-- Main -->
    <main class="container__main">
        ...
    </main>
</div>
