:root {
    --yellow: #ffdd82;
    margin: 0;
    
}
.page-content {
    position: relative;
    
}
.banner-style {
    height:35vh;
    top:0;
    display: flex;
    align-items:end;
}
.banner-title {
    color: white;
    margin: 30px 20px;
    font-weight:bold;
    font-family:RB
}
.banner-subtitle {
    color: white;
    font-weight: 100;
    font-size: 0.5em;
    font-family: RT
}
.lottery-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    top: 32vh;
    left:0;
    right:0;
    background-color: transparent;
   
}