@page "/southLottery"

<h1 class="page_title">KẾT QUẢ XỐ SỐ MIỀN NAM </h1>
 <div class="container_choose_date">
   
     <div style="margin: 10px; display: inline-block;">
         <label class="choose_date_title">Ngày quay thưởng: </label>
         <SfDatePicker TValue="DateTime?" Value='@DateValue' Min='@MinDate' Max='@MaxDate'
                       ShowClearButton="true"
                       style="padding-bottom: 6px; display: inline-block; font-family:RT;"
                       Locale="vi"
                       Format='dd/MM/yyyy'>
         </SfDatePicker>
         
     </div>
     <input type="button" class="btn-show-result" value="Xem kết quả"/>
       
 </div>
 <span class="span-loading" style="margin-left: 5px">
     <img class="ic_loading" src="/res/images/loading.gif"/>
     <label class="choose_date_title">Đang tải...</label>
 </span>

        <div class="lottery-item-title">
            <h5 class="lottery-item-title__content"><b style="color:#B02019;">XSMB </b>@_dateTimeNow</h5>
        </div>
         <h6 class="lottery-item-result__nothern__symbol">Ký hiệu: <i>11YN-23N2-13K-123I-8YN</i></h6>
     <div class="container_lottery">

       
        <div class="lottery-item-result__nothern">
           
            <div class="lottery-item-result__nothern__table">
                <div class="table-left">
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">ĐB</div>
                    <div class="row-index" style="--height:40px; --bg:white;">G1</div>
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">G2</div>
                    <div class="row-index" style="--height:80px; --bg:white;;">G3</div>
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">G4</div>
                    <div class="row-index" style="--height:80px; --bg:white;">G5</div>
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">G6</div>
                    <div class="row-index" style="--height:40px; --bg:white;">G7</div>
                </div>
                <div class="table-right">
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">
                        <span class="DB">11584</span>
                    </div>
                    <div class="row-index" style="--height:40px; --bg:white;">
                         <span class="G1">78907</span>
                    </div>
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">
                        <div class="G2">
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                        </div>
                    </div>
                    <div class="row-index" style="--height:80px; --bg:white;;">
                        <div class="G3">
                            <div class="G3-row">
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                            </div>
                             <div class="line-y"></div>
                             <div class="G3-row">
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">
                        <div class="G2">
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                        </div>
                    </div>
                    <div class="row-index" style="--height:80px; --bg:white;">
                         <div class="G3">
                            <div class="G3-row">
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                            </div>
                             <div class="line-y"></div>
                             <div class="G3-row">
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                                 <div class="line-x"></div>
                                 <span class="G3-column">78907</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-index" style="--height:40px; --bg:#F0F0F0;">
                         <div class="G2">
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                              <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                        </div>
                    </div>
                    <div class="row-index" style="--height:40px; --bg:white;">
                         <div class="G2">
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                             <div class="line-x"></div>
                             <span class="G2-column">78907</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lottery-item-result__nothern__changeview">
                   <span class="rd_changetypeview"><input type="radio" name="rdChangeType" /><label class="rd-title">  Đầy đủ</label></span> 
                   <span class="rd_changetypeview"><input type="radio" name="rdChangeType" /><label class="rd-title"> 2 số</label></span> 
                   <span class="rd_changetypeview"><input type="radio" name="rdChangeType" /><label class="rd-title">  3 số</label></span> 
                   <span class="rd_changetypeview"><input type="checkbox" /><label class="rd-title">  Thông báo</label></span>
             </div>
           </div>

            
                 <div class="lottery-item-result__nothern__table-loto">
                     <div class="container__header-loto">
                         <label class="title__header-loto"> Lô tô Miền Bắc</label>
                     </div>
                     <div>
                        <table class="loto__table">
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                            <tr class="loto__row">
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                                <td class="loto__col">79</td>
                            </tr>
                        </table>
                     </div>
                 </div>

            <div class="lottery-item-result__nothern-container__hide" id="showMoreView2">
                
                 <div class="lottery-item-result__nothern-firstlast-table lottery-item-result__nothern__table">
                     <div class="table-left">
                         <div class="row-index" style="--height:40px; --bg:#F0F0F0;">Đầu</div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">0</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">1</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">2</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">3</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">4</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">5</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">6</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">7</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">8</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">9</label></div>
                     </div>
                     <div class="table-right">
                         <div class="row-index-l" style="--height:40px; --bg:#F0F0F0;">Đuôi</div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">0</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">1</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">2</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">3</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">4</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">5</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">6</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">7</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">8</label></div>
                         <div class="row-index-l" style="--height:40px; --bg:white;"><label class="fl-content">9</label></div>
                     </div>
                     <div class="table-right">
                         <div class="row-index-r" style="--height:40px; --bg:#F0F0F0;">Đuôi</div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">0</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">1</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">2</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">3</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">4</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">5</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">6</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">7</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">8</label></div>
                         <div class="row-index-r" style="--height:40px; --bg:white;"><label class="fl-content">9</label></div>
                     </div>
                     <div class="table-left">
                         <div class="row-index" style="--height:40px; --bg:#F0F0F0;">Đầu</div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">0</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">1</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">2</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">3</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">4</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">5</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">6</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">7</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">8</label></div>
                         <div class="row-index" style="--height:40px; --bg:white;"><label class="fl-title">9</label></div>
                     </div>
                 </div>
            </div>
          
        </div>
        