@page "/support"
<div class="container">
    <!-- Left content -->
    <div class="container__half">
        <h2>Liên hệ với chúng tôi qua mạng xã hội:</h2>
        <div class="contaimer__half-social">
            <div class="social-item">
                <img src="/res/images/ic_fb.png" class="ic_social"/>
                <p>Facebook</p>
            </div>

            <div class="social-item">
                <img src="/res/images/ic_zalo.png" class="ic_social"/>
                <p>Zalo</p>
            </div>

            <div class="social-item">
                <img src="/res/images/ic_telegram.png" class="ic_social"/>
                <p>Telegram</p>
            </div>

        </div>

         <h2>Đánh giá website của chúng tôi:

         </h2>
         <div class="rating">
            <button class="rating__star">☆</button>
            <button class="rating__star">☆</button>
            <button class="rating__star">☆</button>
            <button class="rating__star">☆</button>
            <button class="rating__star">★</button>
        </div>
    </div>
   
    <!-- Right content -->
    <div class="container__half">
       <h2>Hoặc gửi thư trực tiếp cho chúng tôi:</h2>
       <form>
           <p class="tt_input">Tên người dùng: <span style="color: #FF0000;">*</span></p>
           <input class="form_input" type="text" placeholder="Nhập tên người dùng..."/>

            <p class="tt_input">Tên đăng nhập: <span style="color: #FF0000;">*</span></p>
           <input class="form_input" type="text" placeholder="Nhập tên đăng nhập..."/>

            <p class="tt_input">Số điện thoại: <span style="color: #FF0000;">*</span></p>
           <input class="form_input" type="text" placeholder="Nhập số điện thoại liên hệ..."/>

            <p class="tt_input">Email: <span style="color: #FF0000;">*</span></p>
           <input class="form_input" type="text" placeholder="Nhập email cá nhân..."/>

            <p class="tt_input">Góp ý của bạn: <span style="color: #FF0000;">*</span></p>
            <textarea class="form_input_area" type="text" placeholder="Nhập góp ý của bạn tại đây..."/>
            
            <input type="button" value="Gửi" class="btn_send"/>
       </form>
    </div>
</div>