@page "/groupFootball"

<div class="group_chat_container">
    <header class="title-group layer-style">
        <h3>Cộng đồng đam mê bóng đá</h3>
         <img src="/res/images/ic_more.png" class="ic_more"/>
    </header>
    <main class="container_chat">
        <div class="your_chat">

            <div class="your_chat_item">
                <img src="/res/images/banner_football.jpg" class="your_chat_avt"/>
                <div class="your_chat_container">
                    <div class="your_chat--chat_content">
                        <div>
                            <a class="your_chat_name">Lê Trọng Hưng</a>
                        </div>
                        <div>
                            <p class="your_chat--content_chat"> Hôm nay chung kết U23 Châu Á anh em ủng hộ đội nào nhỉ? </p>
                        </div>
                    </div>
                    <span class="your_chat--chat_time">
                          20:27 19/06/2022
                    </span>
                </div>
            </div>

        </div>

        <div class="my_chat">
             <div class="my_chat_item">
                    <div class="my_chat--chat_content">
                            <div>
                                <p class="my_chat--content_chat"> Tôi là tôi theo KSY </p>
                            </div>
                    </div>
                    <span class="my_chat--chat_time">
                          20:27 19/06/2022
                    </span>
              </div>
        </div>

        <div class="your_chat">

            <div class="your_chat_item">
                <img src="/res/images/banner_football.jpg" class="your_chat_avt"/>
                <div class="your_chat_container">
                    <div class="your_chat--chat_content">
                        <div>
                            <a class="your_chat_name">Lê Trọng Hưng</a>
                        </div>
                        <div>
                            <p class="your_chat--content_chat"> Trận này phải theo UZB chứ nước chủ nhà mà, được cổ vũ đông đảo lại còn Vô địch 1 lần nữa chứ :))))) </p>
                        </div>
                    </div>
                    <span class="your_chat--chat_time">
                          20:27 19/06/2022
                    </span>
                </div>
            </div>

        </div>

        <div class="your_chat">

            <div class="your_chat_item">
                <img src="/res/images/bac.png" class="your_chat_avt"/>
                <div class="your_chat_container">
                    <div class="your_chat--chat_content">
                        <div>
                            <a class="your_chat_name">Trần Thái Hòa</a>
                        </div>
                        <div>
                            <p class="your_chat--content_chat"> Tôi cúng theo KSY, nhìn nó đá vòng loại World Cup hay quá mà! </p>
                        </div>
                    </div>
                    <span class="your_chat--chat_time">
                          20:27 19/06/2022
                    </span>
                </div>
            </div>

        </div>

        <div class="my_chat">
             <div class="my_chat_item">
                    <div class="my_chat--chat_content">
                            <div>
                                <p class="my_chat--content_chat"> Hay thì chưa chắc hay nhưng tôi tin họ thắng vì họ luôn có ít nhất 12 cầu thủ trên sân mà  =))))) </p>
                            </div>
                    </div>
                    <span class="my_chat--chat_time">
                          20:27 19/06/2022
                    </span>
              </div>
        </div>

        <div class="your_chat">

            <div class="your_chat_item">
                <img src="/res/images/bac.png" class="your_chat_avt"/>
                <div class="your_chat_container">
                    <div class="your_chat--chat_content">
                        <div>
                            <a class="your_chat_name">Trần Thái Hòa</a>
                        </div>
                        <div>
                            <p class="your_chat--content_chat"> Chuẩn, Hahaa </p>
                        </div>
                    </div>
                    <span class="your_chat--chat_time">
                          20:27 19/06/2022
                    </span>
                </div>
            </div>

        </div>

    </main>

    <footer class="container_send">
            <div class="input_more">
                <img src="/res/images/ic_add.png" class="btn-like"/>
                <img src="/res/images/ic_atta.png" class="btn-like"/>
                <img src="/res/images/ic_tag.png" class="btn-like"/>
                <img src="/res/images/ic_gif.png" class="btn-like"/>
            </div>

            <input type="text"  class="input_message"/>
                
            <img src="/res/images/ic_like.png" class="btn-like"/>
    </footer>
</div>